#t(:algorithmsWithVersion)

##t(:algorithmOverview)
- t(:algorithmOverview1)
  - t(:algorithmOverview1i)
  - t(:algorithmOverview1ii)
- t(:algorithmOverview2)
  - t(:algorithmOverview2i)
  - t(:algorithmOverview2ii)
- t(:algorithmOverview3)
  - t(:algorithmOverview3i)
- t(:algorithmOverview4)
  - t(:algorithmOverview4i)

##t(:algorithmDetails)

###t(:algo1i)
t(:algo1iText)
t(:algo1iTable)

###t(:algo2i)
t(:algo2iText)
t(:algo2iTable)

###t(:algo3i)
t(:algo3iText)
t(:algo3iTable)

###t(:algo4i)
t(:algo4iText)
t(:algo4iTable)


#SDK Playground
<a href="https://spectro-demo.hacarus.com/playground/" target="_blank">Open</a>

#C# SDK
<a href="/csharp/README.html" target="_blank">Open</a>

#Python SDK
<a href="/python/README.html" target="_blank">Open</a>
