<div class="hacarus-content lang-specific csharp">
t(:introductionMessageMoreCSharp)
</div>

<div class="hacarus-content lang-specific python">
t(:introductionMessageMorePython)
</div>

## t(:installation)

```csharp
PM> Install-Package HacarusVisualInspectionApi -Version 1.1.2-beta
```

```python
> pip install hacarus_visual_inspection
```


<div class="hacarus-content lang-specific csharp">
t(:installationMessageCSharp)
</div>

<div class="hacarus-content lang-specific python">
t(:installationMessagePython)
</div>

<div class="hacarus-content lang-specific csharp">
t(:installationMessageMoreCSharp)
</div>

## t(:terms)
t(:termsMessage)

## t(:usage)
t(:usageMessage)